@import './variables';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pic {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.signin {
  width: 50%;
  margin: auto;
}

.navbar-brand {
  color: white;
}
.nav-link {
  cursor: pointer;
}

.link {
  color: $link-color;
  background-color: transparent;
  cursor: pointer;
  -webkit-text-decoration-skip: objects;
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}
