@import './variables';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-icons {
  font-size: 1.2rem;
}
.delete {
  font-size: 2rem;
  position: relative;
  bottom: 2.7rem;
  right: 1rem;
}
.delete .react-icons {
  font-size: 1.7rem;
}

.pic {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
.minpic {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}
.markerpic {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
.popup {
  width: 12rem;
}

.signin {
  width: 50%;
  margin: auto;
}

a {
  color: rgb(218, 218, 218);
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

.navbar-brand {
  color: white;
}
.nav-link {
  cursor: pointer;
}

.link {
  color: $link-color;
  background-color: transparent;
  cursor: pointer;
  -webkit-text-decoration-skip: objects;
  &:hover {
    color: $link-hover-color;
  }
}
.full {
  width: 100%;
  height: 90vh;
}
.spinner {
  width: '3rem';
  height: '3rem';
  position: relative;
  top: 50%;
  left: 50%;
}

.toast {
  position: absolute;
  z-index: 3;
  left: 42%;
  margin-top: 10px;
  color: white;
}

.success {
  background-color: $success;
}
.warning {
  background-color: $warning;
}

.map {
  height: 80vh;
}
.mapform {
  height: 60vh;
}
@media screen and (max-width: 992px) {
  .map {
    height: 40vh;
    margin-bottom: 1vh;
  }
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 200px;
  max-width: 200px;
  background: $primary;
  color: $primary;
  margin-left: -200px;
  transition: all 0.5s;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: $secondary;
}

.sidebar-header h3 {
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.sidebar .menu-open {
  background: $primary;
}

.sidebar .nav-item:hover {
  color: $tertiary;
  background: #fff;
}

.sidebar .items-menu {
  color: $primary;
  background: $primary;
}

.sidebar li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 30%;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: $tertiary;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: $tertiary;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.filter-button:focus {
  box-shadow: 0 0 0 0;
}
.filter-button.btn-primary:focus {
  background-color: $primary;
  border: $primary;
}
#topo {
  cursor: pointer;
}

#listContainer {
  position: relative;
  height: auto;
}
#list {
  height: 80vh;
  overflow-y: scroll;
}
